wined3d.sdf
wined3d.opensdf
wined3d.v12.suo
ipch/
Win32_Release_dll/
Win32_Debug_dll/
x64_Release_dll/
x64_Debug_dll/
Win32_Debug
Win32_Release
x64_Debug
x64_Release
idls/*.h
idls/*.c
idls/wine/*.h
idls/wine/*.c
vkd3d-idls/*.h
vkd3d-idls/*.c
wined3d/dlldata.c
*vcxproj.user
/.vs
